@font-face {
  font-family: 'Tulpen-One';
  src: url('../src/fonts/Tulpen/TulpenOne-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Nunito';
  src: url('../src/fonts/Nunito/Nunito-Regular.ttf') format("truetype");
}

body{
  text-align: center;
  margin:1em;
  background-image: url('./images/Group8.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body *{
  margin-bottom: 1.5em;
}

#Small {
  color: red;
}

.Loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(90, 89, 89);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Nav*/

.nav *{
  padding: 0;
  margin: 0;
}

.nav h1{
  font-family: Tulpen-One, sans-serif;
  color: white;
  font-size: 5rem;
  font-weight: 300;
}

.nav h4{
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: white;
  margin-top: 1em;
}

/*GLA Forecast*/

.gla-forecast h2{
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: white;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.gla-forecast button{
  background-color: #DE4E4D;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.75em 1em;
}

.gla-title, .gla-desc{
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: white;
  border: none;
  padding: none;
}

.weather-icons{
  margin:none;
  padding:none;
}

.gla-forecast hr, .loc-forecast hr{
  border: 1px dotted rgba(255,255,255, 0.25);
}

.gla-title, .loc-title{
  letter-spacing: 0.3em;
}

/*LOC Forecast*/

.loc-forecast h2{
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: white;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.loc-forecast button{
  background-color: #DE4E4D;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.75em 1em;
}

.text-input{
  border-radius: 10px;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 50%;
  margin-right: 1em;
}

.loc-title, .loc-desc{
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: white;
  border: none;
  padding: none;
}

/*Footer*/

.footer{
  margin: 2em 0em 0em;
  overflow: hidden;
}

.gloom-link{
  text-decoration: underline #DE4E4D;
  color: white;
  margin-top: 3em;
}

.joke{
  margin-top: 3em;
  color: white;
  font-style: italic;
  padding: 1em;

}

.pf-link{
  color:#0D3B66;
  text-decoration: underline #0D3B66;
}

/* .joke-part{
  display: flex;
  align-items: center;
} */

/* 700px + */

@media screen and (min-width: 600px) {
  .forecasts {
    display: flex;
    justify-content: center;
    gap: 8%;
  }

  .joke-part{
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: flex-start;
  }

  .creds{

  }
}

/*1000px height */

@media screen and (min-height: 1000px) {
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

  .creds{
    position: absolute; 
    bottom: 0.3em;
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    left: 0; 
  }
}